@-webkit-keyframes frontpageflip-left {
  0% {
    -webkit-transform:rotateX(0deg) rotateY(0deg) skew(0deg, 0deg);
  }
  10% {
    box-shadow: 10px 10px 20px #333;
  }
  20% {
    -webkit-transform: rotateY(-90deg) skew(0deg, 3deg) perspective(4180px);;
		box-shadow: 10px 10px 20px #333;
  }
  50% {
    -webkit-transform: rotateY(-180deg) skew(0deg, 0deg) perspective(4180px);;
		box-shadow: 0 0 0 ;
  }
  
  100% {
    -webkit-transform: rotateY(-180deg) skew(0deg, 0deg);
  }
}

@-webkit-keyframes backpageflip-left {
  0% {
    -webkit-transform: rotateY(-180deg) skew(0deg, 0deg);
  }
  15% {
    z-index:0;
  }
  20% {
    z-index:4;
    -webkit-transform: rotateY(-90deg) skew(0deg, -3deg) perspective(4180px);;
  }
  50% {
    -webkit-transform:rotateY(0deg) skew(0deg, 0deg);
    z-index:4;
  }
  100% {
    -webkit-transform:rotateY(0deg) skew(0deg, 0deg);
    z-index:4;
  }
}

@-webkit-keyframes shadow {
  30% {
	 box-shadow: 0 0 0;
	}
  70% {
    box-shadow: 1px 1px 40px #000;

  }
	100% {
		box-shadow: 0 0 0 #fff;
	}
}

#shadow {
	width: 7px;
	height: 448px;
	display: block;
	position: absolute;
	top: 0;
	left: 458px;
	z-index: -1;
}

#book:hover #shadow {
  -webkit-animation: shadow 2s linear;
}

#book {
  margin: 10px auto;
  width: 1040px;
  height:469px;
  display: block;
  -webkit-transition: 1s all;
  position: relative;
}

.page {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #333;
  width: 500px;
  top: 0px;
  background: white;
  position: absolute;
  -webkit-transform: perspective(1800px);
}

#page1 {
  left: 521px;
  -webkit-transform-origin: 0% 0%;
  z-index: 4;
}

#page2 {
  left: 0px;
  -webkit-transform-origin: 100.01% 0%;
  -webkit-transform:rotateX(0deg) rotateY(-180deg);
  z-index:3;
}

#page3 {
  left: 521px;
  -webkit-transform-origin: 100% 100%;
  -webkit-transform:rotateX(0deg) rotateY(0deg);
  z-index:2;
}

#page4 {
  left: 521px;
  -webkit-transform-origin: 100% 100%;
  -webkit-transform:rotateX(0deg) rotateY(0deg);
  z-index:1;
}

#book:hover #page1 {
  -webkit-animation: frontpageflip-left 2s linear;
  -webkit-animation-fill-mode: forwards;
}

#book:hover #page2{
  -webkit-animation: backpageflip-left 2s linear;
  -webkit-animation-fill-mode: forwards;
}
